h1 {
  font-size: 32px !important;
}

h2 {
  color: #550000;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  color: #d03030;
  font-size: 22px;
}

.container-fluid {
  color: #444;
}

.article-content {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif !important;
}
