h1 {
  font-size: 32px !important;
}

h2 {
  color: #550000;
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  border-bottom: 2px LightGrey solid;
}

h3 {
  /* color: #d03030; */
  color: #666666;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 1px LightGrey solid;
}

.container-fluid {
  color: #444;
}

.article-content {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif !important;
}
